* {
	margin: 0px;
	padding: 0px;
}

#lookup-container {
	border: 3px solid #E03A3E; /* Maryland Red */
}

#class-lookup {
	margin: 10px;
}

#search-return {
	list-style-type: none;
	border: 3px solid #FFD520; /* Maryland Gold */
	overflow: auto;
}

.course-container {
	border: 3px solid #000000;
}

table#section_table {
	table-layout: fixed ;
	width: 100% ;
	border-collapse: collapse ;
}
  
table#section_table td {
	width: 50% ;
	padding: 10px ;
	text-align: left;
}