* {
	margin: 0px;
	padding: 0px;
}

/* Page Container */

#lookup-container {
	border: 3px solid #E03A3E; /* Maryland Red */
	/* can have picture backgrounds*/
	/* background-image: url('md_flag.png'); */
	/* background-size: 200px; */
}

/* Look Up Bar*/

#class-lookup {
	margin: 10px;
}

label[for=class-lookup] {
	margin-left: 10px;
}

#filter-learning-mode {
	margin: 10px;
}

label[for=filter-learning-mode] {
	margin-left: 10px;
}

/* Results Box */

#search-return {
	list-style-type: none;
	border: 3px solid #FFD520; /* Maryland Gold */
	overflow: auto;
}

.course-container {
	border: 3px solid #000000;
	/* background-color: white; */
}

.section_table {
	table-layout: fixed ;
	width: 100% ;
	border-collapse: collapse ;
}
  
.section_table td {
	width: 50% ;
	padding: 10px ;
	text-align: left;
}

/* Footer */

#footer{
	/* sticky footer */
	text-align: center;
	padding: 10px;
	width: 60%;
	margin: auto;
}