* {
	margin: 0px;
	padding: 0px;
}

#lookup-container {
	border: 3px solid red;
}

#class-lookup {
	margin: 10px;
}

#search-return {
	list-style-type: none;
	width: 400px;
	height: 600px;
	border: 3px solid blue;
	overflow: auto;
}

.course-container {
	border: 3px solid green;
}