/* Page Container */

.page-container {
	margin: auto;
	width: 60%;
	padding: 10px;
	border: 3px solid #E03A3E; /* Maryland Red */
}

/* Page Blocks */
.block1 {
	position: relative;
	width: 100px;
	float: left;
	height: 100px;
	border: 3px solid #2F2FA2;
}

.block2 {
	position: relative;
	width: 100px;
	float: left;
	height: 100px;
	border: 3px solid #553D67;
}

.clear-float {
	clear: left;
}

/* Footer */

.footer{
	position: fixed;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%);
}