/* creative choices */
* {
	margin: 0px;
	padding: 0px;
}

/* creative choices */
p, h1, h2, img {
	margin: 0px 0px 10px 0px;
}

/* Page Container */

#page-container {
	margin: auto;
	width: 60%;
	padding: 10px;
	border: 3px solid #E03A3E; /* Maryland Red */
}

#dept-summary-table {
	height: 500px;
	overflow: auto;
	border: 3px solid #FFD520; /* Maryland Gold */
	padding: 5px;
	width: 100% ;
	table-layout: fixed ;
	border-collapse: collapse ;
}

td {
    padding:0 10px;
}

.summary-info-styler {
	table-layout: fixed ;
	width: 100% ;
	border-collapse: collapse ;
}
  
.summary-info-styler td {
	width: 50% ;
	padding: 10px ;
	text-align: left;
}

/* Footer */

#footer {
	/* sticky footer */
	text-align: center;
	padding: 10px;
	width: 60%;
	margin: auto;
	/* for debug purposes */
	/* border: 3px solid blue;  */
}